In [1]:
# libraries and setup
import pandas as pd
import numpy as np
import json
import datetime, pytz
datetime.datetime(1990, 1, 1, tzinfo=pytz.utc)


%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = [25, 15]
plt.rcParams['font.size'] = 20

# list of dicts to get turned into a DataFrame
df_tmp = []

#####
# we need to load netdict

def readfile(fin="/Users/quinnbatten/Documents/Programming/PyProjects/rborrow/main1.json"):
    ''' Generic JSON reader, defaults to calling the file that getdata() outputs
    '''

    with open(fin) as f:
        vals = json.load(f)
    return vals

def getgraphinmem():
    '''Helper that reads our netdict file (the data translated into a useful dictionary thingie.)
    '''
    netdict = readfile("/Users/quinnbatten/Documents/Programming/PyProjects/rborrow/textfiles/netdict1.json")

    return netdict

netdict = getgraphinmem()

In [2]:
# Pop em into df_tmp
for loan in netdict:
    tmp_loan = {'amt':'', 'bor':'','date':'','lend':''}
    if loan['amt'].isdigit():
        tmp_loan['amt'] = int(loan['amt'])
    else:
        tmp_loan['amt'] = 'NaN'
    tmp_loan['bor'] = loan['bor']
    tmp_loan['lend'] = loan['lend']
    tmp_loan['date'] = loan['date']
    tmp_loan['date_h'] = datetime.datetime.utcfromtimestamp(loan['date']).strftime('%Y-%m-%d %H:%M:%S')
    df_tmp.append(tmp_loan)
    
df = pd.DataFrame(df_tmp)
df.replace('NaN', np.nan, inplace=True)
df = df[df.amt != 0]
df = df[~df.amt.isnull()]

plt.rcParams["figure.figsize"] = [25, 15]
plt.rcParams['font.size'] = 20

In [7]:
df_time = df[['amt','date','date_h']]
pd.to_datetime(df_time['date_h'])
df_time.set_index(df_time['date_h'], inplace=True)

In [ ]:
plt.scatter(df_time['date_h'],df_time['amt'], s=5 )

In [ ]:
df_t

In [ ]:
plt.hist(df['amt'], bins = 40)
#plt.title("Sum of lifetime loans (per Lender)", size = 30)

In [ ]:
tmp2 = df.aggregate(np.sum)
tmp2

### Let's look at our lenders...

In [ ]:
df_lendgroup = df.groupby('lend')

lsum = df_lendgroup.aggregate(np.sum)['amt']
lcount = df_lendgroup.agg(pd.Series.nunique)['amt']
lcount.describe()

In [ ]:
lsum.describe()

In [ ]:
tmp = lsum.aggregate(np.sum)
tmp

In [ ]:
plt.hist(lsum, bins = 40)
plt.title("Sum of lifetime loans (per Lender)", size = 30)

In [ ]:
plt.hist(lsum, bins = 40, log = True)
plt.title("Sum of lifetime loans (per lender), Log Scale", size = 30)

In [ ]:
plt.hist(lsum[lsum < 1000], bins = 40)
plt.title("Sum of lifetime loans, per lender, for those <$1000", size = 30)

Note: leftmost bar is 0 to <25

In [ ]:
plt.hist(lsum[lsum > 8000], bins = 40)
plt.title("Sum of lifetime loans, per lender, for those >$8000", size = 30)

####There are 11 people who have lent over $50,000 each

###The largest loan given on the sub was $7000, the lender earned back $10,000

https://www.reddit.com/r/borrow/comments/8p0cgz/paid_umusic_tech_7000_on_time/

(Request: https://www.reddit.com/r/borrow/comments/7qqf7z/req_7000_columbia_md_usa_10010_by_060818_paypal/)

In [ ]:
group_bor = df.groupby('bor')

bsum = group_bor.aggregate(np.sum)
bcount = group_bor.agg(pd.Series.nunique)

In [ ]:
bsum.describe()

In [ ]:
bcount.describe()

In [ ]:
#plt.hist(bsum, bins = 40)
#plt.title("Sum of lifetime loans, per lender, for those >$8000", size = 30)

In [ ]:
bfindbig = group_bor[['bor','amt']].aggregate(np.sum)
bfindbig[bfindbig['amt']>1000].sort_values(['amt'])

In [ ]:
lfindbig = df_lendgroup[['bor','amt']].aggregate(np.sum)
lfindbig[lfindbig['amt']>100000].sort_values(['amt'])